{% extends "base.html" %}

{% block content %}
    <div class="p-3 mb-2 bg-success text-white centered">About Body Mass Index (BMI)</div>
    <div class="outerpad">
        <div class="paragraphed">
     <ul>
                 <p><i>The information on this page is taken from <a href="https://www.betterhealth.vic.gov.au/health/healthyliving/body-mass-index-bmi">Better Health Channel</a></i>.</p>
                 <p>---</p>
                 <p>Body mass index (BMI) is an approximate measure of your best weight for health. It is calculated by dividing your weight in kilograms by your height in metres squared (m2).</p>
                 <p>BMI is intended for adults only, as children and adolescents are constantly growing. This makes it difficult to have set values for BMI cut-offs for young people. However, in adults who have stopped growing, an increase in BMI is usually caused by an increase in body fat.</p>
                 <p>You can use the body mass index (BMI) calculator for adults to calculate your BMI, provided you know your:</p>
                 <ul>
                     <li>weight in kilograms (kg)</li>
                     <li>height in centimetres (cm)</li>
                     </br>
                 </ul>
                 <p>Your BMI will classify you as ‘underweight’, ‘healthy weight’, ‘overweight’ or ‘obese’, as defined by the World Health Organization. If your BMI is:</p>
                 <ul>
                     <li>under 18.5kg/m2 – you are considered underweight and possibly malnourished</li>
                     <li>18.5 to 24.9kg/m2 – you are within a healthy weight range for young and middle-aged adults</li>
                     <li>25.0 to 29.9kg/m2 – you are considered overweight</li>
                     <li>over 30kg/m2 – you are considered obese</li>
                     </br>
                 </ul>
                 <p><b>BMI isn’t always the best measure of health.</b></p>
                 <p>At the population level, BMI is used to indicate level of risk for morbidity (disease risk) and mortality (death rates).</p>
                 <p>Differences in BMI between individual adults of the same age and sex are usually due to body fat, however there are many exceptions to this rule, which is why a BMI figure may not always be accurate.</p>
                 <p>BMI calculations will overestimate the amount of body fat for:</p>
                 <ul>
                     <li>body builders</li>
                     <li>some high-performance athletes</li>
                     <li>pregnant women</li>
                     </br>
                 </ul>
                 <p>BMI calculations will underestimate the amount of body fat for:</p>
                 <ul>
                    <li>the elderly</li>
                    <li>people with a physical disability, who are unable to walk and may have muscle wasting</li>
                    </br>
                </ul>
                <p>BMI is also not an accurate indicator for people with:</p>
                <ul>
                    <li>eating disorders like anorexia nervosa</li>
                    <li>extreme obesity</li>
                    </br>
                </ul>
                <p>You can calculate your BMI using our <a href={{ url_for('calculate') }}>BMI Calculator</a>.</p>
        </div>
    </div>
{% endblock content %}