{% extends "base.html" %}

{% block content %}
    {% if result < 18.5 %}
    <div class="text-bg-warning p-3 centered">You are underweight!</div>
    <div class="outerpad">
        <div class="paragraphed">
            <h4>Recommendations for you:</h4>
            <p><i>The information on this page is taken from <a href="https://www.nhs.uk/live-well/healthy-weight/managing-your-weight/advice-for-underweight-adults/">NHS website</a></i>.</p>
            <h5>How to put on weight safely</h5>
            <p>If diet is the cause of your low weight, changing to a healthy, balanced diet that provides the right amount of calories for your age, height and how active you are can help you achieve a healthy weight.</p>
            <p>Aim to gain weight gradually until you reach a healthy weight.</p>
            <p>Try to avoid relying on high-calorie foods full of saturated fat and sugar – such as chocolate, cakes and sugary drinks – to gain weight.</p>
            <p>These foods can increase body fat instead of lean body mass and increase your risk of developing high levels of cholesterol in your blood.</p>
            <p>Instead, aim for regular meals and occasional snacks, and base your diet on the <a href="https://www.nhs.uk/live-well/eat-well/food-guidelines-and-food-labels/the-eatwell-guide/">Eatwell Guide</a>. This means:</p>
            <ul>
                <li>Eating at least 5 portions of a variety of fruit and vegetables every day.</li>
                <li>Basing meals on potatoes, bread, rice, pasta or other starchy carbohydrates. Choose wholegrain where possible.</li>
                <li>Having some dairy or dairy alternatives (such as soya drinks and yoghurts). Have whole (full-fat) milk until you build your weight back up.</li>
                <li>Eating some beans, pulses, fish, eggs, meat and other protein. Aim for 2 portions of fish every week – 1 of which should be oily, such as salmon or mackerel.</li>
                <li>Choosing unsaturated oils and spreads, such as sunflower or rapeseed, and eating them in small amounts.</li>
                <li>Drinking plenty of fluids. The government recommends 6 to 8 glasses a day. But try not to have drinks just before meals to avoid feeling too full to eat.</li>
            </ul>
            <p>If you're having foods and drinks that are high in fat, salt and sugar, have these less often and in small amounts.</p>
            <p>Try to choose a variety of different foods from the 5 main food groups. Learn more about these food groups and how they form part of a healthy diet.</p>
            <p>However, it's important to remember that the Eatwell Guide is aimed at the general population. For those who need more specialised nutrition advice, consult a GP or a registered dietitian.</p>
            <p>If you do not eat meat, find out <a href="https://www.nhs.uk/live-well/eat-well/how-to-eat-a-balanced-diet/the-vegetarian-diet/">how to have a healthy vegetarian diet</a>.</p>
            <h5>Tips to boost your calorie intake</h5>
            If you're trying to gain weight, eat foods that are not only healthy but also high in energy. Try the following:
            <ul>
                <li>For breakfast, porridge made with whole (full-fat) milk with chopped fruit or raisins sprinkled on top; or eggs on toast.</li>
                <li>Milkshakes are a great snack (make them at home and take them to work or college). Fortify them with milk powder for extra protein and calories.</li>
                <li>For a healthier lunch, try a jacket potato with baked beans or tuna on top, which contains energy-giving starchy carbohydrates and protein.</li>
                <li>Peanut butter on toast makes a great high-energy snack.</li>
                <li>Yoghurts and milky puddings, such as rice pudding, are high in energy.</li>
                <li>Unsalted nuts.</li>
            </ul>
            <p>Although fruit and vegetable juices and smoothies count towards your 5 A Day, remember to limit these to no more than a combined total of 150ml a day.</p>
        </div>
    </div>
    {% elif result >= 18.5 and result < 24.9 %}
    <div class="text-bg-success p-3 centered">You are within a healthy weight range!</div>
    <div class="outerpad">
        <div class="paragraphed">
            <h4>Recommendations for you:</h4>
            <p>If you are within a healthy weight range without following a special diet or a weight-loss program, that's great! Then, keep on what you are doing up to now! However, if you recently followed a weight-loss program and lost weight, it might prove challenging for you to maintain your weight. In this case, you might follow the recommendations below.</p>
            <p><i>The information on this page is taken from <a href="https://www.niddk.nih.gov/health-information/weight-management/adult-overweight-obesity/eating-physical-activity">NIDDK website</a></i>.</p>
            <h5>What should I do to stay at a healthy weight?</h5>
            <p>Recent research has found there are many reasons why it is difficult to keep weight off after losing weight. In addition to metabolism slowing during weight loss, your body needs fewer calories at your new, lower weight. Hormonal and other factors also tend to promote weight regain. People who have kept weight off long-term report needing to keep careful track of their food intake and to do high levels of physical activity. Some people who have reached a healthy weight may find it hard to keep the weight off.</p>
            <h6>Keep track of your weight</h6>
            <p>Weigh yourself regularly. Keep a record of your weight to help make sure you are maintaining your weight loss and not regaining weight.</p>
            <h6>Stick to your healthy eating plan</h6>
            <p>Continue to make healthy food choices, and make following your healthy eating plan a lifelong habit. Find healthy food options that you prefer and enjoy, as you are more likely to stick with your eating plan.</p>
            <h6>Continue regular physical activity</h6>
            <p>Regular physical activity may help you keep from regaining weight you’ve lost. Aim for at least 300 minutes a week of moderate-intensity physical activity to prevent regaining weight.9 Make regular physical activity a lifelong habit.</p>
            <h6>Take part in a weight-loss maintenance program</h6>
            <p>If you were overweight or had obesity and lost weight, your doctor may advise you to take part in a program to help you maintain your weight loss. The program may help you stick to your healthy eating and regular physical activity plan, and track your progress.</p>
        </div>
    </div>
    {% elif result >= 24.9 and result < 29.9 %}
    <div class="text-bg-danger p-3 centered">You are overweight!</div>
    <div class="outerpad">
        <div class="paragraphed">
            <h4>Recommendations for you:</h4>
            <p><i>The information on this page is taken from <a href="https://www.niddk.nih.gov/health-information/weight-management/adult-overweight-obesity/treatment">NIDDK website</a></i>.</p>
            <h5>Treatment for Overweight & Obesity</h5>
            <p>Common treatments for overweight and obesity include losing weight through healthy eating, being more physically active, and making other changes to your usual habits. Weight-management programs may help some people lose weight or keep from regaining lost weight. Some people who have obesity are unable to lose enough weight to improve their health or are unable to keep from regaining weight. In such cases, a doctor may consider adding other treatments, including weight-loss medicines, weight-loss devices, or bariatric surgery.</p>
            <p>Experts recommend losing 5 to 10 percent of your body weight within the first 6 months of treatment. [10] If you weigh 200 pounds, this means losing as little as 10 pounds. Losing 5 to 10 percent of your weight may</p>
            <ul>
                <li>help lower your chances of developing health problems related to overweight and obesity</li>
                <li>improve health problems related to overweight and obesity, such as high blood pressure and high cholesterol levels</li>
            </ul>
            <h5>Healthy eating plan and regular physical activity</h5>
            <p>Following a healthy eating plan with fewer calories is often the first step in trying to treat overweight and obesity.</p>
            <p>People who are overweight or have obesity should also start regular physical activity when they begin their healthy eating plan. Being active may help you use calories. Regular physical activity may help you stay at a healthy weight.</p>
            <h5>Healthy eating plan and regular physical activity</h5>
            <p>Changing your habits</p>
            <p>Changing your eating and physical activity habits and lifestyle is difficult, but with a plan, effort, regular support, and patience, you may be able to lose weight and improve your health. The following tips may help you think about ways to lose weight, engage in regular physical activity, and improve health over the long-term.</p>
            <ul>
                <li><b>Be prepared for setbacks—they are normal.</b> After a setback, like overeating at a family or workplace gathering, try to regroup and focus on getting back to your healthy eating plan as soon as you can. Try to eat only when you’re sitting at your dining room or kitchen table. At work, avoid areas where treats may be available. Track your progress using online food or physical activity trackers, such as the <a href="https://www.niddk.nih.gov/health-information/weight-management/body-weight-planner">Body Weight Planner</a>, that can help you keep track of the foods you eat, your physical activity, and your weight. These tools may help you stick with it and stay motivated.</li>
                <li><b>Set goals.</b> Having specific goals can help you stay on track. Rather than “be more active,” set a goal to walk 15 to 30 minutes before work or at lunch on Monday and Friday. If you miss a walk on Monday, pick it up again Tuesday.</li>
                <li><b>Seek support.</b> Ask for help or encouragement from your family, friends, or health care professionals. You can get support in person, through email or texting, or by talking on the phone. You can also join a support group. Specially trained health professionals can help you change your lifestyle.</li>
            </ul>
            <p></p>
            <p></p>
        </div>
    </div>
    {% else %}
    <div class="text-bg-danger p-3 centered">You are OBESE!</div>
    <div class="outerpad">
        <div class="paragraphed">
            <h4>Recommendations for you:</h4>
            <p><i>The information on this page is taken from <a href="https://www.mayoclinic.org/diseases-conditions/obesity/diagnosis-treatment/drc-20375749">Mayo Clinic website</a></i>.</p>
            <p>The goal of obesity treatment is to reach and stay at a healthy weight. This improves overall health and lowers the risk of developing complications related to obesity.</p>
            <p>You may need to work with a team of health professionals — including a dietitian, behavioral counselor or an obesity specialist — to help you understand and make changes in your eating and activity habits.</p>
            <p>The initial treatment goal is usually a modest weight loss — 5% to 10% of your total weight. That means that if you weigh 200 pounds (91 kilograms), you'd need to lose only about 10 to 20 pounds (4.5 to 9 kilograms) for your health to begin to improve. However, the more weight you lose, the greater the benefits.</p>
            <p>All weight-loss programs require changes in your eating habits and increased physical activity. The treatment methods that are right for you depend on your obesity severity, your overall health and your willingness to participate in your weight-loss plan.</p>
            <h5>Dietary changes</h5>
            <p>Reducing calories and practicing healthier eating habits are vital to overcoming obesity. Although you may lose weight quickly at first, steady weight loss over the long term is considered the safest way to lose weight and the best way to keep it off permanently.</p>
            <p>There is no best weight-loss diet. Choose one that includes healthy foods that you feel will work for you. Dietary changes to treat obesity include:</p>
            <ul>
                <li><b>Cutting calories.</b> The key to weight loss is reducing how many calories you take in. The first step is to review your typical eating and drinking habits to see how many calories you normally consume and where you can cut back. You and your doctor can decide how many calories you need to take in each day to lose weight, but a typical amount is 1,200 to 1,500 calories for women and 1,500 to 1,800 for men.</li>
                <li><b>Feeling full on less.</b> Some foods — such as desserts, candies, fats and processed foods — contain a lot of calories for a small portion. In contrast, fruits and vegetables provide a larger portion size with fewer calories. By eating larger portions of foods that have fewer calories, you reduce hunger pangs, take in fewer calories and feel better about your meal, which contributes to how satisfied you feel overall.</li>
                <li><b>Making healthier choices.</b> To make your overall diet healthier, eat more plant-based foods, such as fruits, vegetables and whole grains. Also emphasize lean sources of protein — such as beans, lentils and soy — and lean meats. If you like fish, try to include fish twice a week. Limit salt and added sugar. Eat small amounts of fats, and make sure they come from heart-healthy sources, such as olive, canola and nut oils.</li>
                <li><b>Restricting certain foods.</b> Certain diets limit the amount of a particular food group, such as high-carbohydrate or full-fat foods. Ask your doctor which diet plans are effective and which might be helpful for you. Drinking sugar-sweetened beverages is a sure way to consume more calories than you intended. Limiting these drinks or eliminating them altogether is a good place to start cutting calories.</li>
                <li><b>Meal replacements.</b> These plans suggest replacing one or two meals with their products — such as low-calorie shakes or meal bars — and eat healthy snacks and a healthy, balanced third meal that's low in fat and calories. In the short term, this type of diet can help you lose weight. But these diets likely won't teach you how to change your overall lifestyle. So you may have to stay on the diet if you want to keep your weight off.</li>
            </ul>
            <p>Be wary of quick fixes. You may be tempted by fad diets that promise fast and easy weight loss. The reality, however, is that there are no magic foods or quick fixes. Fad diets may help in the short term, but the long-term results don't appear to be any better than other diets.</p>
            <p>Similarly, you may lose weight on a crash diet, but you're likely to regain it when you stop the diet. To lose weight — and keep it off — you must adopt healthy-eating habits that you can maintain over time.</p>
            <h5>Exercise and activity</h5>
            <p>Increased physical activity or exercise is an essential part of obesity treatment:</p>
            <ul>
                <li><b>Exercise.</b> People with obesity need to get at least 150 minutes a week of moderate-intensity physical activity to prevent further weight gain or to maintain the loss of a modest amount of weight. You probably will need to gradually increase the amount you exercise as your endurance and fitness improv</li>
                <li><b>Keep moving.</b> Even though regular aerobic exercise is the most efficient way to burn calories and shed excess weight, any extra movement helps burn calories. Park farther from store entrances and take the stairs instead of the elevator. A pedometer can track how many steps you take over the course of a day. Many people try to reach 10,000 steps every day. Gradually increase the number of steps you take daily to reach that goal.</li>
            </ul>
            <h5>Behavior changes</h5>
            <p>A behavior modification program can help you make lifestyle changes and lose weight and keep it off. Steps to take include examining your current habits to find out what factors, stresses or situations may have contributed to your obesity.</p>
            <ul>
                <li><b>Counseling.</b> Talking with a mental health professional can help address emotional and behavioral issues related to eating. Therapy can help you understand why you overeat and learn healthy ways to cope with anxiety. You can also learn how to monitor your diet and activity, understand eating triggers, and cope with food cravings. Counseling can be one-on-one or in a group.</li>
                <li>><b>Support groups.</b> You can find camaraderie and understanding in support groups where others share similar challenges with obesity. Check with your doctor, local hospitals or commercial weight-loss programs for support groups in your area.</li>
            </ul>
        </div>
    </div>
    {% endif %}
{% endblock content %}