{% extends "base.html" %}

{% block content %}
    <div class="p-3 mb-2 bg-success.bg-gradient text-white">BMI Calculator</div>
    <form action={{ url_for('calculate') }} method="POST">
      <div class="mb-3">
        <label for="height" class="form-label">Height</label>
        <input type="number" step="0.01" class="form-control" id="height" aria-describedby="heighthelp">
        <div id="heighthelp" class="form-text">Please enter your height (metric) in meters with "." as decimal separator (i.e. 1.81).</div>
      </div>
      <div class="mb-3">
        <label for="weight" class="form-label">Weight</label>
        <input type="number" step="0.01" class="form-control" id="weight" aria-describedby="weighthelp">
        <div id="weighthelp" class="form-text">Please enter your weight (metric) in kilograms with "." as decimal separator (i.e. 73.2).</div>
      </div>
      <div class="mb-3 form-check">
        <input type="checkbox" class="form-check-input" id="agecheck">
        <label class="form-check-label" for="agecheck">I am over 20 years old.</label>
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
{% endblock content %}